extends layout

block content
    header
      h1 Blue Lotus Learning
    .container
      .resizable
        #left-panel.accordion
          h3 Section 1
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus tristique dictum. Aliquam lobortis dolor ac dui tempus maximus. Fusce vitae facilisis sem. Ut rutrum pellentesque erat, quis rhoncus ex tincidunt vel. Integer sagittis odio ac dui
            | condimentum fermentum. Integer condimentum augue at ligula blandit, at varius tellus faucibus. Sed laoreet dolor et dolor sodales pellentesque. Nullam varius massa sit amet hendrerit aliquam. Donec posuere dolor purus, et pulvinar ipsum interdum id.
            | Cras interdum lobortis pellentesque. Duis laoreet, quam eu semper finibus, augue ex ullamcorper neque, varius mollis lorem erat eget purus. Nulla a augue id mauris semper venenatis. In hac habitasse platea dictumst. Fusce elementum varius fermentum.
            | Morbi accumsan est at turpis accumsan, eget scelerisque turpis sodales. Morbi aliquet mauris sit amet ante ultricies semper. Curabitur dignissim dignissim sem, ac ultrices nulla efficitur a. Maecenas faucibus placerat felis, vitae aliquam lectus porta
            | in. Aliquam erat volutpat. Nam quis dignissim nisi. Vivamus id nisl id turpis rhoncus consequat id sed lectus. Cras interdum ipsum quis odio maximus sodales. Suspendisse mi enim, eleifend ut enim vitae, rutrum vestibulum erat. Phasellus id euismod
            | est. Vivamus euismod id nibh vulputate lacinia. Donec imperdiet, ante in aliquam aliquam, risus leo pharetra tortor, non eleifend sem mauris quis velit. Aliquam tristique augue turpis, a pulvinar tellus feugiat vel. Cras aliquam, enim ac blandit pretium,
            | dui lacus dignissim sapien, sed porttitor purus est id arcu. Aenean lectus nunc, convallis vitae massa non, ultrices vulputate purus. Praesent dictum libero et diam varius, non consequat nulla sodales. Vivamus quis rhoncus velit. Aliquam fringilla
            | efficitur orci, eu tincidunt justo accumsan sed. Mauris consectetur diam sed luctus posuere. Duis rutrum, nisl vel faucibus ornare, nibh diam convallis ante, fermentum pulvinar sem lectus rutrum nunc. Suspendisse molestie quam vel lacus condimentum
            | dignissim. Nulla quis faucibus dui. Morbi tortor dolor, maximus in lacus non, dictum interdum orci. Nullam suscipit cursus nulla sed imperdiet. Etiam urna enim, placerat ut sapien nec, dignissim rutrum velit. Class aptent taciti sociosqu ad litora
            | torquent per conubia nostra, per inceptos himenaeos. Donec quis justo cursus quam dictum ornare tincidunt quis nisi. Nullam nisi metus, molestie ut semper vel, varius sit amet neque. Sed ultricies, ligula in efficitur ultricies, leo quam facilisis
            | urna, lobortis dignissim ex ligula vitae enim. Nullam justo sapien, hendrerit in dolor et, blandit fringilla lectus. Quisque nec blandit nibh. Aliquam semper erat eu tortor lobortis, ut varius eros mattis. Etiam id hendrerit lacus. Donec non varius
            | erat. Fusce aliquam in ipsum pellentesque rhoncus. Suspendisse accumsan dolor vitae lectus dictum, sit amet finibus enim venenatis. Vestibulum tellus tellus, venenatis sit amet augue sed, condimentum sollicitudin nulla. In congue lacus vel felis porttitor
            | vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam bibendum ultrices quam vel vehicula. Proin dictum venenatis ipsum sit amet tincidunt. Fusce id orci dignissim quam mollis consequat. Suspendisse
            | potenti.
          h3 Section 2
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus tristique dictum. Aliquam lobortis dolor ac dui tempus maximus. Fusce vitae facilisis sem. Ut rutrum pellentesque erat, quis rhoncus ex tincidunt vel. Integer sagittis odio ac dui
            | condimentum fermentum. Integer condimentum augue at ligula blandit, at varius tellus faucibus. Sed laoreet dolor et dolor sodales pellentesque. Nullam varius massa sit amet hendrerit aliquam. Donec posuere dolor purus, et pulvinar ipsum interdum id.
            | Cras interdum lobortis pellentesque. Duis laoreet, quam eu semper finibus, augue ex ullamcorper neque, varius mollis lorem erat eget purus. Nulla a augue id mauris semper venenatis. In hac habitasse platea dictumst. Fusce elementum varius fermentum.
            | Morbi accumsan est at turpis accumsan, eget scelerisque turpis sodales. Morbi aliquet mauris sit amet ante ultricies semper. Curabitur dignissim dignissim sem, ac ultrices nulla efficitur a. Maecenas faucibus placerat felis, vitae aliquam lectus porta
            | in. Aliquam erat volutpat. Nam quis dignissim nisi. Vivamus id nisl id turpis rhoncus consequat id sed lectus. Cras interdum ipsum quis odio maximus sodales. Suspendisse mi enim, eleifend ut enim vitae, rutrum vestibulum erat. Phasellus id euismod
            | est.
          h3 Section 3
          div
            | Vivamus euismod id nibh vulputate lacinia. Donec imperdiet, ante in aliquam aliquam, risus leo pharetra tortor, non eleifend sem mauris quis velit. Aliquam tristique augue turpis, a pulvinar tellus feugiat vel. Cras aliquam, enim ac blandit pretium,
            | dui lacus dignissim sapien, sed porttitor purus est id arcu. Aenean lectus nunc, convallis vitae massa non, ultrices vulputate purus. Praesent dictum libero et diam varius, non consequat nulla sodales. Vivamus quis rhoncus velit. Aliquam fringilla
            | efficitur orci, eu tincidunt justo accumsan sed. Mauris consectetur diam sed luctus posuere. Duis rutrum, nisl vel faucibus ornare, nibh diam convallis ante, fermentum pulvinar sem lectus rutrum nunc. Suspendisse molestie quam vel lacus condimentum
            | dignissim. Nulla quis faucibus dui. Morbi tortor dolor, maximus in lacus non, dictum interdum orci. Nullam suscipit cursus nulla sed imperdiet. Etiam urna enim, placerat ut sapien nec, dignissim rutrum velit. Class aptent taciti sociosqu ad litora
            | torquent per conubia nostra, per inceptos himenaeos. Donec quis justo cursus quam dictum ornare tincidunt quis nisi. Nullam nisi metus, molestie ut semper vel, varius sit amet neque. Sed ultricies, ligula in efficitur ultricies, leo quam facilisis
            | urna, lobortis dignissim ex ligula vitae enim. Nullam justo sapien, hendrerit in dolor et, blandit fringilla lectus. Quisque nec blandit nibh. Aliquam semper erat eu tortor lobortis, ut varius eros mattis. Etiam id hendrerit lacus. Donec non varius
            | erat. Fusce aliquam in ipsum pellentesque rhoncus. Suspendisse accumsan dolor vitae lectus dictum, sit amet finibus enim venenatis. Vestibulum tellus tellus, venenatis sit amet augue sed, condimentum sollicitudin nulla. In congue lacus vel felis porttitor
            | vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam bibendum ultrices quam vel vehicula. Proin dictum venenatis ipsum sit amet tincidunt. Fusce id orci dignissim quam mollis consequat. Suspendisse
            | potenti.
      #work-area.accordion
        h3 Activity 1
        div work area Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        h3 Activity 2
        div
          | Nullam luctus tristique dictum. Aliquam lobortis dolor ac dui tempus maximus. Fusce vitae facilisis sem.
        h3 Activity 3
        div
          | Ut rutrum pellentesque erat, quis rhoncus ex tincidunt vel. Integer sagittis odio
          | ac dui condimentum fermentum. Integer condimentum augue at ligula blandit, at varius tellus faucibus. Sed laoreet dolor et dolor sodales pellentesque. Nullam varius massa sit amet hendrerit aliquam. Donec posuere dolor purus, et pulvinar ipsum interdum
